
<div class="row layout-top-spacing">
    <div class="col-9 layout-spacing">
        <div class="panel br-6 statbox box box-shadow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>Complete Production</h4>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="custom-table panel-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped table-striped table-bordered">
                            <thead>
                            <tr>
                                <th class="text-start">#</th>
                                <th class="text-start">Product Name</th>
                                <th class="text-start">Selling Price</th>
                                <th class="text-center">Ext. Quantity</th>
                                <th class="text-center">Quantity Produced</th>
                                <th class="text-start">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(product_item, index) in product_Items">
                                <td>{{ index+1 }}</td>
                                <td class="text-left">{{ (product_item.name) }}</td>
                                <td class="text-center">{{ $currency(product_item.selling_price) }}</td>
                                <td class="text-center">{{ product_item.estimate_quantity }}</td>
                                <td class="text-center">
                                    <input type="number" @input="toggleError(index)" placeholder="Quantity Produced" class="form-control form-control-sm" v-model="product_Items[index]['quantity']">
                                    <small v-if="( product_Items[index]['error_status'] === true )"  class="block text-danger ">Value must be greater than zero </small>
                                </td>
                                <td class="text-end">{{ $currency((product_item.selling_price * product_item.quantity))  }}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-end">Total</td>
                                <th class="text-end" id="total_po">{{ $currency(product_total) }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                    <app-button ref="submit_button"    :click="completeProduction" design="primary">Complete Production</app-button>

                </div>
            </div>
        </div>
    </div>

</div>
