<div>
    <div class="header-container fixed-top">
        <header class="header navbar navbar-expand-sm">
            <ul class="navbar-item theme-brand flex-row text-center">
                <li class="nav-item theme-logo">
                    <router-link to="/">
                        <img src="@/assets/logo.svg" class="navbar-logo" alt="logo" />
                    </router-link>
                </li>
                <li class="nav-item theme-text">
                    <router-link to="/" class="nav-link">DEE VICK BAKERY </router-link>
                </li>
            </ul>

            <div class="d-none horizontal-menu">
                <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom" >
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-menu"
                    >
                        <line x1="3" y1="12" x2="21" y2="12"></line>
                        <line x1="3" y1="6" x2="21" y2="6"></line>
                        <line x1="3" y1="18" x2="21" y2="18"></line>
                    </svg>
                </a>
            </div>
            <ul class="navbar-item flex-row ms-md-0 ms-auto"></ul>

            <div class="navbar-item flex-row ms-md-auto">

                <div class="dark-mode d-flex align-items-center"></div>

                <div class="dropdown nav-item language-dropdown btn-group"></div>
                <div class="dropdown nav-item message-dropdown btn-group"></div>
                <div class="dropdown nav-item notification-dropdown btn-group"></div>
                <div class="dropdown nav-item user-profile-dropdown btn-group">
                    <a href="javascript:;" id="ddluser" data-bs-toggle="dropdown" aria-expanded="false" class="btn dropdown-toggle btn-icon-only user nav-link">
                        <img src="https://cultureamp.design/static/a489d86dba895745f93a8d1268fe713f/avatar.svg" alt="avatar" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="ddluser">
                        <li role="presentation">
                            <router-link to="/myprofile" class="dropdown-item">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="feather feather-user"
                                >
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                                My Profile
                            </router-link>
                        </li>

                        <li role="presentation">
                            <a href="javascript:;" @click="logout" class="dropdown-item">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="feather feather-log-out"
                                >
                                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                    <polyline points="16 17 21 12 16 7"></polyline>
                                    <line x1="21" y1="12" x2="9" y2="12"></line>
                                </svg>
                                Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
    </div>

    <div class="sub-header-container">
        <header class="header navbar navbar-expand-sm">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
            </a>

            <!-- Portal vue/Teleport for Breadcrumb -->
            <div id="breadcrumb" class="vue-portal-target">
                <ul class="navbar-nav flex-row"><li>
                    <div class="page-header">
                        <nav class="breadcrumb-one" aria-label="breadcrumb">
                            <ol class="breadcrumb"><li class="breadcrumb-item">
                                <a href="javascript:;">Dashboard</a></li>
                            </ol>
                        </nav>
                    </div>
                </li>
                </ul>
            </div>
        </header>
    </div>

    <div class="topbar-nav header navbar" role="banner">
        <nav class="topbar">
            <ul class="list-unstyled menu-categories" id="topAccordion">

            </ul>
        </nav>
    </div>
</div>
