<div class="layout-px-spacing app-contacts">
    <div class="row layout-spacing layout-top-spacing" id="cancel-row">
        <div class="col-lg-12">
            <div class="panel-body searchable-container" :class="[grid_type]">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-5 col-sm-7 filtered-list-search layout-spacing align-self-center">
                        <form class="form-inline my-2 my-lg-0">
                            <div class="">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="feather feather-search"
                                >
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg>
                                <input type="text" v-model.trim="search_user" class="product-search form-control" v-on:keyup="search_contacts()" placeholder="Search System Users..." />
                            </div>
                        </form>
                    </div>

                    <div class="col-xl-8 col-lg-7 col-md-7 col-sm-5 text-sm-end text-center layout-spacing align-self-center">
                        <div class="d-flex justify-content-sm-end justify-content-center">
                            <a href="javascript:;" @click="add_user">
                                <svg
                                        id="btn-add-contact"
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="feather feather-user-plus"
                                >
                                    <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="8.5" cy="7" r="4"></circle>
                                    <line x1="20" y1="8" x2="20" y2="14"></line>
                                    <line x1="23" y1="11" x2="17" y2="11"></line>
                                </svg>
                            </a>

                            <div class="switch align-self-center">
                                <a href="javascript:;" @click="grid_type = 'list'">
                                    <svg
                                            :class="{ 'active-view': grid_type == 'list' }"
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="feather feather-list view-list me-1"
                                    >
                                        <line x1="8" y1="6" x2="21" y2="6"></line>
                                        <line x1="8" y1="12" x2="21" y2="12"></line>
                                        <line x1="8" y1="18" x2="21" y2="18"></line>
                                        <line x1="3" y1="6" x2="3" y2="6"></line>
                                        <line x1="3" y1="12" x2="3" y2="12"></line>
                                        <line x1="3" y1="18" x2="3" y2="18"></line>
                                    </svg>
                                </a>
                                <a href="javascript:;" @click="grid_type = 'grid'">
                                    <svg
                                            :class="{ 'active-view': grid_type == 'grid' }"
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="feather feather-grid view-grid"
                                    >
                                        <rect x="3" y="3" width="7" height="7"></rect>
                                        <rect x="14" y="3" width="7" height="7"></rect>
                                        <rect x="14" y="14" width="7" height="7"></rect>
                                        <rect x="3" y="14" width="7" height="7"></rect>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="searchable-items" :class="[grid_type]">
                    <div class="items items-header-section">
                        <div class="item-content">
                            <div class="">


                                <h4 style="font-size:14px">Name</h4>
                            </div>
                            <div class="user-email">
                                <h4  style="font-size:14px;margin-left: 100px;">Email</h4>
                            </div>
                            <div class="user-location">
                                <h4  style="margin-left: 120px;font-size:14px">Username</h4>
                            </div>
                            <div class="user-phone">
                                <h4 style="margin-left: 23px;font-size:14px">Phone</h4>
                            </div>
                            <div class="action-btn">
                                <a href="javascript:;" @click="delete_selected()">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="feather feather-trash-2 delete-multiple"
                                    >
                                        <polyline points="3 6 5 6 21 6"></polyline>
                                        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                        <line x1="10" y1="11" x2="10" y2="17"></line>
                                        <line x1="14" y1="11" x2="14" y2="17"></line>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div v-for="(user, index) in filterd_contacts_list" class="items" :key="index">
                        <div class="item-content">
                            <div class="user-profile">


                                <img src="../img/products.jpg"  alt="avatar" />
                                <div class="user-meta-info">
                                    <p class="user-name">{{ user.name }}</p>
                                    <p class="user-work">{{ user.usergroup.name }}</p>
                                </div>
                            </div>
                            <div class="user-email">
                                <p class="info-title">Email:</p>
                                <p style="font-size:12px" class="usr-email-addr">{{ user.email }}</p>
                            </div>
                            <div class="user-location">
                                <p class="info-title">Location:</p>
                                <p class="usr-location">{{ user.username }}</p>
                            </div>
                            <div class="user-phone">
                                <p class="info-title">Phone:</p>
                                <p class="usr-ph-no">{{ user.phone }}</p>
                            </div>
                            <div class="action-btn">
                                <a href="javascript:;" class="me-1" @click="edit_user(user)">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="feather feather-edit-2 edit"
                                    >
                                        <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                    </svg>
                                </a>
                                <a href="javascript:;" @click="delete_user(user)">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="feather feather-user-minus delete"
                                    >
                                        <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="8.5" cy="7" r="4"></circle>
                                        <line x1="23" y1="11" x2="17" y2="11"></line>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div id="addContactModal" class="modal fade" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-md modal-dialog-centered">
                        <div class="modal-content mailbox-popup">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ params.id ? 'Update User' : 'Add User' }}</h5>
                                <button type="button" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="add-contact-box">
                                    <div class="add-contact-content">
                                        <form id="addContactModalTitle">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group mb-4">
                                                        <label>Name</label>
                                                        <input type="text" v-model="params.name" class="form-control" placeholder="Name" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group mb-4">
                                                        <label>Email</label>
                                                        <input type="text" v-model="params.email" class="form-control" placeholder="Email" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group mb-4">
                                                        <label>Username</label>
                                                        <input type="text" v-model="params.username" class="form-control" placeholder="Username" />
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group mb-4">
                                                        <label>Phone Number</label>
                                                        <input type="text" v-model="params.phone" class="form-control" placeholder="Phone Number" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group mb-0">
                                                        <label>User Group</label>
                                                        <select class="form-control" v-model="params.usergroup_id">
                                                            <option value="">Select Group</option>
                                                            <option v-for="group in groups" :value="group.id">{{ group.name }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group mb-0">
                                                        <label>Password</label>
                                                        <input type="text" v-model="params.password" class="form-control" placeholder="Password" />
                                                        <span class="text-success">Default Password is 123456</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group mb-0">
                                                        <label>Select Branch</label>
                                                        <multiselect
                                                                    v-model="params.branch_id"
                                                                     :multiple="true"
                                                                     :options="branches"
                                                                     :searchable="true"
                                                                     track-by="name"
                                                                     label="name"
                                                                     :preselect-first="true"
                                                                     selected-label=""
                                                                     select-label=""
                                                                     deselect-label=""
                                                        ></multiselect>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" data-bs-dismiss="modal"><i class="flaticon-cancel-12"></i> Discard</button>
                                <app-button type="button" design="primary" :click="saveUser" ref="saveUser">{{ params.id ? 'Update' : 'Add' }}</app-button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
